# Geti Host and Api key configureation, base url needs to be suffixed with /api/v1/
BASE_URL="https://10.10.10.33/api/v1"
API_KEY="geti_pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx_xxxxxx"

# Used for cloning a project from one environment to another
BASE_URL_SOURCE="https://10.10.10.01/api/v1"
API_KEY_SOURCE="geti_pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx_xxxxxx"

SOURCE_ORGANIZATION_ID="64ad689e-362e-4b28-b1f8-41228dc6fd75"
SOURCE_WORKSPACE_ID="b5b32ce2-7545-40b0-8a1f-caa9b83cade4"
SOURCE_PROJECT_ID="000a0000000000000b0ec80a"

BASE_URL_DESTINATION="https://20.20.20.02/api/v1"
API_KEY_DESTINATION="geti_pat_yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy_yyyyyy"
DESTINATION_ORGANIZATION_ID="16b7b540-7ab7-4ef1-90dc-0f69a9c36ace"
DESTINATION_WORKSPACE_ID="ae943e13-507f-454a-997a-46cdd303e4e1"
